<!doctype html>
<head>
	<title>OpenRA RATL - Red Alert Team League - Season 3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
	<h1>Red Alert Team League</h1>
	<h2>Season 3 //// December 2023 - February 2024</h2>
</header>
<nav>
	<ul>
	{%-
	set navbar_menus = [
		('schedule', 'Schedule'),
		('games', 'Games'),
		('scoreboards', 'Scoreboards'),
	]
	-%}
	{%- for endpoint, caption in navbar_menus %}
		<li class="{% if endpoint == active_page %}active{% endif %}">
			<a href="{{ url_for(endpoint) }}">{{ caption }}</a>
		</li>
	{%- endfor %}
		<li>
			<a href="{{ url_for('static', filename='ratl_s03_mappack.zip') }}"
			   style="background-color: unset;">📥 Download Maps</a>
		</li>
	</ul>
</nav>
<hr>
{% block content %}{% endblock %}
