<!doctype html>
<head>
	<title>OpenRA 1v1 Ladder - {% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='Chart.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='datatables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='dtfuncs.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='nav.js') }}"></script>
</head>
<header>
	<h1>OpenRA 1v1 Ladder</h1>
</header>
 <div class="topnav" id="main_menu">
{%- for menu_id, pages in navbar_menu.items() %}
	 {% if menu_id != "pages" %}
	  <div class="dropdown">
		<button {% if menu_id == "mods" %}class="dropbtn with_icon" style="background-image:url('/static/icon-{{ mod_id }}.png')"{% else %}class="dropbtn"{% endif %}>&#9660; {% if menu_id=="mods" %}Mod{% else %}Season{% endif %}
		  <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
	{% endif %}
		{%- for menu_entry in pages %}
			<a class="{% if menu_entry.active %}active{% endif %}{% if menu_entry.icon %} with_icon{% endif %}"
				{% if menu_entry.icon %} style="background-image:url('{{ menu_entry.icon }}')"{% endif %}
				href="{{ menu_entry.url }}">{{ menu_entry.caption }}</a>
		{%- endfor %}

	 {% if menu_id != "pages" %}
  </div>
  </div>
	{% endif %}
{%- endfor %}
  <a href="javascript:void(0);" class="icon" onclick="toggle_navbar_menu()">&#9776;</a>
</div>
{% block content %}{% endblock %}
<div class="footer">
	<div><a href="https://discord.gg/jg7nnyf2cy" target="_blank">Discord #ladder</a><br>Join the community, connect with other players, and discuss the OpenRA Ladder.</div>
	<div><a href="https://discord.gg/C2CadJT" target="_blank">OpenRA Academy</a><br>Learn the basics of competitive OpenRA gameplay.</div>
	<div><a href="https://ragl.org" target="_blank">Red Alert Global League</a><br>Prove your skills against the best OpenRA Red Alert players from around the world.</div>
	<div><a href="https://github.com/suhrm1/oraladder" target="_blank">GitHub</a><br>Contribute to the OpenRA Ladder project development.</div>
</div>
